<section class="aboutUs__section" id="aboutUS">
  <div class="aboutUs__container">
    <h2 class="aboutUs__title">Lorem ipsum dolor sit amet</h2>
    <ul class="aboutUs__text-list">
      <li class="aboutUs__text-item">
        ґInteger commodo tincidunt dui, sagittis ornare sem fringilla quis.
        Aliquam metus est, tincidunt vitae dapibus a, sagittis a lectus.
      </li>
      <li class="aboutUs__text-item">
        Phasellus commodo sapien id fermentum dapibus. Sed cursus sapien ut
        rhoncus eleifend. Aliquam dapibus mattis iaculis.
      </li>
      <li class="aboutUs__text-item">
        Duis ut varius arcu. Quisque sagittis nisl tortor, a porta justo
        pulvinar ac.
      </li>
      <li class="aboutUs__text-item">
        Aut quaerat sunt aut quae doloribus aut asperiores debitis est deleniti
        nesciunt. Ex porro animi aut recusandae repellendus qui fuga odit et
        sint nobis est rerum repudiandae.
      </li>
    </ul>
  </div>
</section>
