<section class="churchVision__section">
  <h2 class="churchVision__title">Бачення церкви</h2>
  <ul class="churchVision__list">
    <li class="churchVision__list-item">
      <h3>1. Integer consequat</h3>
      <p>
        blandit varius. Vivamus risus orci, scelerisque sit amet egests quis,
        dapibus nec tellus
      </p>
    </li>
    <li class="churchVision__list-item">
      <h3>2. Integer consequat</h3>
      <p>
        blandit varius. Vivamus risus orci, scelerisque sit amet egests quis,
        dapibus nec tellus
      </p>
    </li>
    <li class="churchVision__list-item">
      <h3>3. Integer consequat</h3>
      <p>
        blandit varius. Vivamus risus orci, scelerisque sit amet egests quis,
        dapibus nec tellus
      </p>
    </li>
    <li class="churchVision__list-item">
      <h3>4. Integer consequat</h3>
      <p>
        blandit varius. Vivamus risus orci, scelerisque sit amet egests quis,
        dapibus nec tellus
      </p>
    </li>
  </ul>
</section>
