<section class="churchVision__section">
  <h2 class="churchVision__title" data-i18n="vision.title">Бачення церкви</h2>
  <ul class="churchVision__list">
    <li class="churchVision__list-item">
      <h3 data-i18n="vision.item1Title">1. Поклоніння</h3>
      <p data-i18n="vision.item1Text">Збираємося разом, щоб прославляти Бога, молитися та слухати Його Слово.</p>
    </li>
    <li class="churchVision__list-item">
      <h3 data-i18n="vision.item2Title">2. Спільнота</h3>
      <p data-i18n="vision.item2Text">Будуємо відкриті стосунки, у яких люди можуть знайти підтримку та дім.</p>
    </li>
    <li class="churchVision__list-item">
      <h3 data-i18n="vision.item3Title">3. Зростання</h3>
      <p data-i18n="vision.item3Text">Допомагаємо кожному зростати у вірі через навчання, молитву та служіння.</p>
    </li>
    <li class="churchVision__list-item">
      <h3 data-i18n="vision.item4Title">4. Турбота</h3>
      <p data-i18n="vision.item4Text">Служимо людям у Братиславі любов'ю, увагою та практичною допомогою.</p>
    </li>
  </ul>
</section>
