<section class="contacts-section" id="contacts">
  <div class="contacts-wrapper">
    <div class="contact-info">
      <h2>НАШІ <br/> КОНТАКТИ:</h2>
      <address class="contacts">
        <ul class="contacts-list">
          <li class="contacts-item"><a class="contacts-linc" href="tel:+42100000000">+421 00 000 000</a></li>
          <li class="contacts-item"><a class="contacts-linc" href="tel:+42100000000">+421 00 000 000</a></li>
          <li class="contacts-item"><a class="contacts-linc" href="mailto:emmanuelchurch.sk@gmail.com">emmanuelchurch.sk@gmail.com</a></li>
        </ul>
      </address>
      <div class="social-block">
      <p>Ми в соцмережах:</p>
      <div class="social-icons">
        <a
          href="https://www.instagram.com/emmanuel.church.ba?igsh=MTl3dWFycjlkMmJ6NQ=="
          class="icon-wrapper"
          target="_blank"
          aria-label="Instagram"
        >
          <svg class="icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
        <a
          href="https://facebook.com"
          class="icon-wrapper"
          target="_blank"
          aria-label="Facebook"
        >
          <svg class="icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
        <a
          href="https://t.me/emmanuel_online"
          class="icon-wrapper"
          target="_blank"
          aria-label="Telegram"
        >
          <svg class="icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
        <a
          href="https://youtube.com"
          class="icon-wrapper"
          target="_blank"
          aria-label="YouTube"
        >
          <svg class="icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>


    <a
      href="https://www.google.com/maps/place/Bazová+8,+Bratislava,+Slovakia"
      target="_blank"
      rel="noopener noreferrer"
      class="map-block"
    >
      <img
        class="map-image"
        src="/assets/contacts/map.jpg"
        alt="map preview"
      />
      <div class="location-text">
        <p><strong>НАША <br/> ЛОКАЦІЯ:</strong></p>
        <p>1107/8<br />Bazová 8, Bratislava</p>
      </div>
    </a>
  </div>

  <!-- Swiper Слайдер -->
  <div class="swiper ministry-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#" class="card">
          <img src="/assets/contacts/small-group.jpg" alt="Малі групи" />
          <div class="card-overlay">
            <h3>МАЛІ ГРУПИ</h3>
          </div>
        </a>
      </div>
      <!-- <span>➔</span> -->

      <div class="swiper-slide">
        <a href="#" class="card">
          <img
            src="/assets/contacts/sunday-service.jpg"
            alt="Недільні служіння"
          />
          <div class="card-overlay">
            <h3>НЕДІЛЬНІ СЛУЖІННЯ</h3>
            <!-- <span>➔</span> -->
          </div>
        </a>
      </div>

      <div class="swiper-slide">
        <a href="#" class="card">
          <img src="/assets/contacts/youth-events.jpg" alt="Молодіжні заходи" />
          <div class="card-overlay">
            <h3>МОЛОДІЖНІ ЗАХОДИ</h3>
            <!-- <span>➔</span> -->
          </div>
        </a>
      </div>

      <div class="swiper-slide">
        <a href="#" class="card">
          <img
            src="/assets/contacts/music-ministry.jpg"
            alt="Музичне служіння"
          />
          <div class="card-overlay">
            <h3>МУЗИЧНЕ СЛУЖІННЯ</h3>
            <!-- <span>➔</span> -->
          </div>
        </a>
      </div>
    </div>
  <!-- </div> -->
  <!-- Навігація -->
  <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div> -->
</section>
