<section class="donation__section" id="donation">
  <div class="donation__card">
    <h2 class="donation__title">Пожертвування</h2>
    <p class="donation__text">
      Якщо ви бажаєте підтримати нашу церкву ви можете зробити благодійний
      внесок на наш фінансово, розрахунковий рахунок:
    </p>
    <div class="donation__details">
      <ul>
        <li><strong>IBAN:</strong> SK00 0000 0000 0000 0000 0000</li>
        <li><strong>Отримувач:</strong> Церква Еммануїл</li>
        <li><strong>Призначення платежу:</strong> Добровільна пожертва</li>
      </ul>
      <img src="/images/qr.png" alt="QR code for Emanuel church donation" />
    </div>
  </div>
</section>
