<footer class="footer-section">
  <div class="footer-wrapper">
    <div class="logo-block">
      <a class="footer-logo" href="./index.html">EMMANUEL</a>
      <p class="footer-text">
        ЦЕРКВА «ЕММАНУЇЛ» | БРАТИСЛАВА
      </p>
    </div>
    <div class="footer-social-block">
      <p class="footer-social-text">
        НАШІ <br />
        СОЦМЕРЕЖІ:
      </p>
      <div class="footer-social-icons">
        <a
          href="https://www.instagram.com/emmanuel.church.ba/"
          class="footer-icon-wrapper"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <svg class="footer-icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
        <a
          href="https://www.facebook.com/emmanuelchurchba"
          class="footer-icon-wrapper"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg class="footer-icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
        <a
          href="https://t.me/emmanuel_online"
          class="footer-icon-wrapper"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Telegram"
        >
          <svg class="footer-icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
        <a
          href="https://www.youtube.com/@emmanuel-church-ba"
          class="footer-icon-wrapper"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
        >
          <svg class="footer-icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-meta" aria-label="Інформація про сайт">
    <p>Дизайн: Alina Synytska</p>
    <p>Оновлено: 2026</p>
  </div>
</footer>
