<footer class="footer-section">
  <div class="footer-wrapper">
    <div class="logo-block">
      <a class="footer-logo" href="#">EMMANUEL </a>
      <p class="footer-text">
        ЦЕРКВА ‘ЕММАНУЇЛ” | БРАТИСЛАВА EMMANUEL <br />
        2025
      </p>
    </div>
    <div class="footer-social-block">
      <p class="footer-social-text">
        НАШІ <br />
        СОЦМЕРЕЖІ:
      </p>
      <div class="footer-social-icons">
        <a
          href="https://instagram.com"
          class="footer-icon-wrapper"
          target="_blank"
          aria-label="Instagram"
        >
          <svg class="footer-icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
        <a
          href="https://facebook.com"
          class="footer-icon-wrapper"
          target="_blank"
          aria-label="Facebook"
        >
          <svg class="footer-icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
        <a
          href="https://t.me/yourchannel"
          class="footer-icon-wrapper"
          target="_blank"
          aria-label="Telegram"
        >
          <svg class="footer-icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
        <a
          href="https://youtube.com"
          class="footer-icon-wrapper"
          target="_blank"
          aria-label="YouTube"
        >
          <svg class="footer-icon">
            <use xlink:href="/assets/icons/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
