<header class="header">
  <div class="container">
    <a href="./index.html" class="logo-header">
      <h1 class="title-logo-header-top">emmanuel</h1>
      <p class="title-logo-header-botoom">church</p>
    </a>

    <ul class="nav-list">
      <li class="nav-list-item">
        <a class="nav-link" href="#">Про церкву</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-link" href="#">Служіння</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-link" href="#donation">Пожертвування</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-link" href="#contacts">Контакти</a>
      </li>
    </ul>
  </div>
</header>
