<!-- Бекграунд фото + головна h1 з текстом + кнопка скролл в секцію про нас (за потреби)-->

<section class="section-hero">
  <div class="section-container">
    <div class="section-hero-text">
      <h1 class="hero-title">СУЧАСНА ХРИСТИЯНСЬКА ЦЕРКВА В БРАТИСЛАВІ</h1>

      <p class="hero-article">ЩОНЕДІЛІ O 10:00</p>

      <button>
        Дізнатись більше
        <svg class="svg-hero" width="50" height="50">
          <use href="/src/images/slide-d.svg"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
