<!-- Новини цервки (які будуть посітійно виставлятись оновлюватись) !! ПЕРЕД ФОТЕРОМ !!-->
<section class="news">
  <div class="news-wrapper">
    <h2 class="news-title">Новини Церкви</h2>
    <div class="news-card-wrapper">
      <div class="news-card">
        <img
          class="news-card-img"
          src="../assets/contacts/music-ministry.jpg"
          alt="new 1"
        />
        <p class="news-card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
      <div class="news-card">
        <img
          class="news-card-img"
          src="../assets/contacts/small-group.jpg"
          alt="new 2"
        />
        <p class="news-card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
      <div class="news-card">
        <img
          class="news-card-img"
          src="../assets/contacts/sunday-service.jpg"
          alt="new 3"
        />
        <p class="news-card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
      <div class="news-card">
        <img
          class="news-card-img"
          src="../assets/contacts/youth-events.jpg"
          alt="new 4"
        />
        <p class="news-card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
      </div>
    </div>
  </div>
</section>
