<section class="pastor-section">
  <div class="pastor-container">
    <img class="pastor-photo" src="/images/pastor.jpg" alt="pastor-photo" />
    <div class="pastor-text">
      <p class="title-pastor-name">Олександр Новіков</p>
      <p class="article-pastor-dscr-1">пастор церкви</p>
      <p class="article-pastor-dscr-2">
        ґInteger commodo tincidunt dui, sagittis ornare sem fringilla quis.
        Aliquam metus est, tincidunt vitae dapibus a, sagittis a lectus.
        Phasellus commodo sapien id fermentum dapibus. Sed cursus sapien ut
        rhoncus eleifend. Aliquam dapibus mattis iaculis. Duis ut varius arcu.
        Quisque sagittis nisl tortor, a porta justo pulvinar ac. Integer commodo
        tincidunt dui, sagittis ornare sem fringilla quis. Aliquam metus est,
        tincidunt vitae dapibus a, sagittis a lectus
      </p>
    </div>
  </div>
</section>
