.churchVision__section {
  font-size: 24px;
  padding-block: 60px 80px;
  margin: 0 auto;
  max-width: 1280px;
}

.churchVision__title {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.churchVision__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2em;
  column-gap: 2.5em;
}

.churchVision__list-item {
  border: 1px solid black;
  border-radius: 12px;
  padding: 28px 40px;

  h3 {
    font-weight: 500;
  }
}
