.donationText__section {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #b9cad1;
    padding: 70px;
}

.text__container {
    padding: 0 250px;
}

.donation__article__f {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

