.section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 300px;
}

.section-hero {
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-image: linear-gradient(to bottom,
                rgba(202, 175, 175, 0.7),
                rgba(51, 51, 58, 0.7)),
            url(../images/BG-1.jpeg);
}

.section-hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    color: #ffffff;
    font-weight: 500;
    font-size: 75px;
    letter-spacing: 0.05em;
    text-align: center;
}

.hero-article {
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
}

.hero-btn {
    background: transparent;
    margin: 200px auto;
    color: #ffffff;
    font-size: 25px;
}


.hero-btn:hover {
    font-size: 27px;
    transition: font-size 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

